# Set to 'true' to use HashRouter instead of BrowserRouter which avoids 404 on page reloads without needing host rewrites.
# This will create URLs with '#' (hash) in them (e.g., http://example.com/#/dashboard)
VITE_USE_HASH_ROUTER=false
VITE_BASE_PATH=/
